//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
//- .divider
footer.page-footer(style='background:#263261;padding-top:0px;background-image: url(/images/logocopy.png);background-position: center;background-repeat: no-repeat;background-size: auto;')
    //- .container.center(style='padding:0px')
        img(src="/images/whitelogo.png", alt="", width="300")
        //- h4.header.light.white-text.center.rale(style='text-transform:uppercase')  Numerio Advisors Private Limited
    .row.rale(style='margin:30px;')
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')   Our Company
            br
            p.white-text.mont(style="margin:0;font-size:12px")
                a.white-text(href='/') Home
                br 
                a.white-text(href='/about') About Us
                br
                a.white-text(href='/services') Services 
                br
                a.white-text(href='/marg') Marg ERP
                br
                a.white-text(href='/testimonials') Testimonials
                br
                a.white-text(href='/blogs') Blogs
                br
                a.white-text(href='/career') Careers
                br
                a.white-text(href='/contact') Contact Us


        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')   Services
            br
            p.white-text.mont(style="margin:0;font-size:12px")
                a.white-text(href='/services') Marg ERP
                br 
                a.white-text(href='/services') Project Loans & Subsidy Consultancy
                br
                a.white-text(href='/services') GST Advisory And Compliances
                br
                a.white-text(href='/services') Financial And Management Accounting 
                br
                a.white-text(href='/services') Incorporation and Company Law Practices
                br
                a.white-text(href='/services') Start-up Consultancy


        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')  Corporate Office
            br
            p.mont.center.white-text(href='/',style="margin:0;font-size:12px") D2, Kanchan Kiran Apartments, Farmland 8A, Behind Big Bazaar, Ramdaspeth,     Nagpur - 440010
                br
                |    0712 - 6603701

            .row
                //- .col.s6(style="padding:0px;margin:0px")
                a(href="https://www.facebook.com/Numerio-Advisors-317666328733238/")
                        i.fab.fa-facebook.white-text(style='font-size:20px;margin:10px')
                //- .col.s6(style="padding:0px;margin:0px")
                a(href="https://twitter.com/NumerioAdvisors?s=08")
                        i.fab.fa-twitter-square.white-text(style='font-size:20px;margin:10px')

        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')    Branch Office
            br
            p.mont.center.white-text(href='/',style='margin:0px;font-size:12px') First Floor, Opposite Sarvagya Fashion, Gandhi Chowk, Main Road,            
                br
                |   Bhandara - 441904
                br
                |   07184 - 251601
            

            .container
                .white.hide-on-med-and-down(style="border-radius:30px;margin-left:-80%;margin-right:50%")
                    .row.center.valign-wrapper(style="margin:0px")
                        .col.s3(style="margin-top:5px;padding:0px")
                            .right
                                i.material-icons(style="color:#263261") local_phone 
                        .col.s6(style="margin-top:5px;padding:0px")
                            .center
                                a.black-text(href="tel:+91 888 132 2785") +91 888 132 2785
                        .col.s3

                    .row(style="margin:0px")
                        .col.s3(style="margin-top:5px;padding:0px")
                            .right
                                i.material-icons(style="color:#263261") mail 
                        .col.s1
                        .col.s7(style="margin-top:5px;padding:0px")
                            .left
                                a.black-text(href="mailto:contact@numerio.in")
                                    | contact@numerio.in


                .white.hide-on-large-only(style="border-radius:30px")
                    .row.center(style="margin:0px")
                        .col.s3(style="margin-top:5px 0px 0px 0px;padding:0px")
                            .right
                                i.material-icons(style="color:#263261") local_phone 
                        
                        .col.s7(style="margin-top:5px 0px 0px 0px;padding:0px")
                            .center
                                a.black-text(href="tel:+91 888 132 2785") +91 888 132 2785
                        .col.s1

                    .row(style="margin:0px")
                        .col.s3(style="margin-top:5px;padding:0px")
                            .right
                                i.material-icons(style="color:#263261") mail 
                        .col.s1
                        .col.s7(style="margin-top:5px;padding:0px")
                            .left
                                a.black-text(href="mailto:contact@numerio.in")
                                    | contact@numerio.in

                                        
                        //- .row
                            .col.s6(style="padding:0px;margin:0px")
                                a(href="https://www.facebook.com/Numerio-Advisors-317666328733238/")
                                    i.fab.fa-facebook(style='color:#2c7dec;font-size:20px;')
                            .col.s6(style="padding:0px;margin:0px")
                                  a(href="https://twitter.com/NumerioAdvisors?s=08")
                                    i.fab.fa-twitter-square(style='color:#2c7dec;font-size:20px')
                            .row(style="height:8px;")   

    .footer-copyright.white(style="padding:0px")

        .container
            .row(style="margin-bottom:0px")
                .col.s12.m4.center.mont
                    a.black-text(href="mailto:root.nagpur@gmail.com") root.nagpur@gmail.com
                .col.s12.m4.center.mont
                    a.black-text(href="http://root-kings.github.io") Designed by R00t
                .col.s12.m4.center.mont
                    a.black-text(href="tel:+91 98225 40168") +91 982 254 0168

