//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
.divider
footer.page-footer(style='  background:#625eeb')
    .container.center(style='padding:30px')
        img(src="/images/logo.png", alt="", width="40")
        h4.header.light.white-text.center.rale(style='text-transform:uppercase')  Numerio Advisors
    .row.rale
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')   Our Company
            br
            p.white-text.mont
                a.white-text(href='/') HOME
                br 
                a.white-text(href='/') About Us
                br
                a.white-text(href='/') Services 
                br
                a.white-text(href='/') Marg 
                br
                a.white-text(href='/') Career
                br
                a.white-text(href='/') Testimonials
                br
                a.white-text(href='/') Blogs
                br
                a.white-text(href='/') Contact Us

                
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')   Services
            br
            p.white-text.mont
                a.white-text(href='/') Marg Distribution
                br 
                a.white-text(href='/') Incorporation and Company Law Practices  
                br
                a.white-text(href='/') Startup Consultancy 
                br
                a.white-text(href='/') Project Consultancy 
                br
                a.white-text(href='/') GST Advisory And Compilance
                br
                a.white-text(href='/') Financial And Management Accounting
                
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')   Address
            br
            p.white-text.mont
                a.white-text(href='/') D2, Kanchan Kiran Apartments, Farmland 8A, Behind Big Bazaar, Ramdaspeth
                    | Nagpur-440010
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')    Social Links
    .footer-copyright

        .container
            .row
                .col.s12.m4.center.mont
                    a.white-text(href="mailto:info@numerio.in") info@numerio.in
                .col.s12.m4.center.mont
                    a.white-text(href="http://root-kings.github.io") Designed by R00t
                .col.s12.m4.center.mont
                    a.white-text(href="tel:+918888132785") 888 813 2785
                
