//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
//- .divider
footer.page-footer(style='background:#2c7dec')
    //- .container.center(style='padding:30px')
        img(src="/images/logo.png", alt="", width="40")
        h4.header.light.white-text.center.rale(style='text-transform:uppercase')  Numerio Advisors Private Limited
    .row.rale(style='margin-top:30px')
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')   Our Company
            br
            p.white-text.mont
                a.white-text(href='/') Home
                br 
                a.white-text(href='/') About Us
                br
                a.white-text(href='/') Services 
                br
                a.white-text(href='/') Marg ERP
                br
                a.white-text(href='/') Testimonials
                br
                a.white-text(href='/') Blogs
                br
                a.white-text(href='/') Career
                br
                a.white-text(href='/') Contact Us

                
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')   Services
            br
            p.white-text.mont
                a.white-text(href='/services') Marg Distribution
                br 
                a.white-text(href='/services') Project Loans & Subsidy Consultancy
                br
                a.white-text(href='/services') GST Advisory And Compliances
                br
                a.white-text(href='/services') Financial And Management Accounting 
                br
                a.white-text(href='/services') Incorporation and Company Law Practices
                br
                a.white-text(href='/services') Start-up Consultancy
                
                
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')  Corporate Office
            br
            p.mont.center.white-text(href='/') D2, Kanchan Kiran Apartments, Farmland 8A, Behind Big Bazaar, Ramdaspeth,     Nagpur - 440010
                br
                |    0712-6603701
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase')    Branch Office
            br
            p.mont.center.white-text(href='/') First Floor, Opposite Sarvagya Fashion, Gandhi Chowk, Main Road,             br
                |   Bhandara-441904
                br
                |   07184-251601
    .footer-copyright

        .container
            .row
                .col.s12.m4.center.mont
                    a.white-text(href="mailto:contact@numerio.in") contact@numerio.in
                .col.s12.m4.center.mont
                    a.white-text(href="http://root-kings.github.io") Designed by R00t
                .col.s12.m4.center.mont
                    a.white-text(href="tel:+918888132785") 888 813 2785
                
