//- .divider.hide-on-med-and-down
//- footer.page-footer.white.hide-on-med-and-down
//- .divider
footer.page-footer(style='background:#2c7dec')
    //- .container.center(style='padding:30px')
        img(src="/images/logo.png", alt="", width="40")
        h4.header.light.white-text.center.rale(style='text-transform:uppercase')  Numerio Advisors Private Limited
    .row.rale(style='margin:0px')
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')   Our Company
            br
            p.white-text.mont(style="margin:0")
                a.white-text(href='/') Home
                br 
                a.white-text(href='/') About Us
                br
                a.white-text(href='/') Services 
                br
                a.white-text(href='/') Marg ERP
                br
                a.white-text(href='/') Testimonials
                br
                a.white-text(href='/') Blogs
                br
                a.white-text(href='/') Career
                br
                a.white-text(href='/') Contact Us

                
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')   Services
            br
            p.white-text.mont(style="margin:0")
                a.white-text(href='/services') Marg ERP
                br 
                a.white-text(href='/services') Project Loans & Subsidy Consultancy
                br
                a.white-text(href='/services') GST Advisory And Compliances
                br
                a.white-text(href='/services') Financial And Management Accounting 
                br
                a.white-text(href='/services') Incorporation and Company Law Practices
                br
                a.white-text(href='/services') Start-up Consultancy
                
                
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')  Corporate Office
            br
            p.mont.center.white-text(href='/',style="margin:0") D2, Kanchan Kiran Apartments, Farmland 8A, Behind Big Bazaar, Ramdaspeth,     Nagpur - 440010
                br
                |    0712 - 6603701
        .col.s12.m3.center
            h5.white-text(style='text-transform:uppercase;margin:0')    Branch Office
            br
            p.mont.center.white-text(href='/',style='margin:0px;') First Floor, Opposite Sarvagya Fashion, Gandhi Chowk, Main Road,            
                br
                |   Bhandara-441904
                br
                |   07184 - 251601
            .container
                .white(style="border-radius:30px")
                    p.center.mont(style="color:#2c7dec")
                        br
                        | SOCIAL LINKS
                    .container
                        .row(style="margin:20px")
                            .col.s6
                                i.fab.fa-facebook(style='color:#2c7dec;font-size:20px')
                            .col.s6
                                i.fab.fa-twitter-square(style='color:#2c7dec;font-size:20px')
                            

                        .row(style="height:8px;")

    .footer-copyright(style="padding:0px")

        .container
            .row
                .col.s12.m4.center.mont
                    a.white-text(href="mailto:contact@numerio.in") contact@numerio.in
                .col.s12.m4.center.mont
                    a.white-text(href="http://root-kings.github.io") Designed by R00t
                .col.s12.m4.center.mont
                    a.white-text(href="tel:+91 70200 82190") +91 70200 82190
                
