//- .navbar-fixed.white(data-aos='upparwala', data-aos-offset='900')
    nav.z-depth-0.ubuntu.white
        .container
            .nav-wrapper
                a.white-text(data-target="slide-out" href="#").sidenav-trigger
                    i.material-icons menu
                a.brand-logo(href="/")
                    img.circle.responsive-img(src="/images/yuna.jpg",width="100px")

                ul.right.hide-on-med-and-down
                    li
                        a.black-text(href="/") Home

                    li
                        a.black-text(href="/about") About Us

                    li
                        a.black-text(href="/services") Services

                    li
                        a.black-text(href="/portfolio") Portfolio

                    li
                        a.black-text(href="/marg") Marg

                    li
                        a.black-text(href="/contact") Contact



//- ul#slide-out.sidenav
    li.center(style='margin-top: 40px')
        img(src='images/dsc.png', alt='', style='max-width: 30vw')
    li
        a.blue-text(href='events.html') Events
    li
        a.blue-text(href='about.html') About Us
    li
        a.blue-text(href='team.html') Team
    li
        a.blue-text(href='contact.html') Contact




header
    .navbar-fixed
        nav.white.mont(style='height:100px')
            .nav-wrapper
                a.black-text(data-target="slide-out" href="#").sidenav-trigger
                    i.material-icons menu
                a.brand-logo(href='/')
                    img.circle.responsive-img(src='/images/logo.png', width='45',style='margin:20px')
                    //- img.circle.responsive-img.hide-on-med-and-up(src='/images/logo.png', width='45',style='margin:20px')
                ul#nav-mobile.right.hide-on-med-and-down(style='margin-top:25px')
                    li
                        a.waves-effect.waves-light.black-text.center(href='/',style='width:120px') Home
                    li
                        a.waves-effect.waves-light.black-text.center(href='/about',style='width:120px') About Us
                    li
                        a.waves-effect.waves-light.black-text.center(href='/services',style='width:120px') Services
                    li
                        a.waves-effect.waves-light.black-text.center(href='/marg',style='width:120px') Marg
                    li
                        a.waves-effect.waves-light.black-text.center(href='/testimonials',style='width:120px') Testimonials
                    li
                        a.waves-effect.waves-light.black-text.center(href='/blogs',style='width:120px') Blogs
                    li
                        a.waves-effect.waves-light.black-text.center(href='/career',style='width:120px') Career
                    li
                        a.waves-effect.waves-light.black-text.center(href='/contact',style='width:120px') Contact Us
                    li
                        a.waves-effect.waves-light.btn.white.hoverable.black-text(style='border: 1px solid #decba4 ', href='tel:+91 888 813 2785')
                            | +91 888 813 2785
                            i.material-icons.left(style='color:#decba4') call
    ul#slide-out.sidenav.mont
        li
            a.waves-effect.waves-light.black-text.center(href='/') Home
        li
            a.waves-effect.waves-light.black-text.center(href='/about') About Us
        li
            a.waves-effect.waves-light.black-text.center(href='/services') Services
        li
            a.waves-effect.waves-light.black-text.center(href='/marg') Marg
        li
            a.waves-effect.waves-light.black-text.center(href='/testimonials') Testimonials
        li
            a.waves-effect.waves-light.black-text.center(href='/blogs') Blogs
        li
            a.waves-effect.waves-light.black-text.center(href='/career') Career
        li
            a.waves-effect.waves-light.black-text.center(href='/contact') Contact Us
        //- li
            a.waves-effect.waves-light.btn.white.hoverable.black-text(style='border: 1px solid #decba4 ', href='tel:+91 1234567890')
                | +91 12345 67890
                i.material-icons.left(style='color:#decba4') call
        li
            a.waves-effect.waves-light.btn.hoverable.white-text(style='background: linear-gradient(to right, #3e5151, #decba4); ', href='tel:+91 888 813 2785')
                b
                    i.material-icons
                        | call
                    | +91 888 813 2785



