.navbar-fixed
    nav.white.z-depth-0
        .nav-wrapper
            a.teal-text(data-target="slide-out" href="#").sidenav-trigger
                i.material-icons menu
            a.teal-text.brand-logo(href="/") Rainbow Creations

            ul.right.hide-on-med-and-down
                li
                    a.teal-text(href="/") Home

                li
                    a.teal-text(href="/about") About


ul#slide-out.sidenav
    li
        a(href="/") Home
            i.material-icons.left home
    li
        a(href="/about") About
            i.material-icons.left info
