extends components/layout.pug

block styles

block content
    section
        .row.center(style='margin-top:40px')
            img(src="/images/homemain.png", alt="", width="300")
            
        .container  
            p.mont(style='text-align:justify;padding:30px')
                | Numerio Advisors Private Limited(Numerio Advisors) is a business advisory firm located in Nagpur and Bhandara. We form an integral part of our client’s ecosystem by working hand in hand. Our approach is to understand the client’s business needs, create a suitable constitution, help raise funds to attain the optimal capital structure, and employ business analytics to aid informed decision making. Over everything else, we believe that the trust of our clients is the only constant!
                br
                br
                |    Our services include designing an optimal capital structure, fund raising through debt and equity, liaising for government subsidies, goods and service tax advisory and financial & management accounting.
                br
                br
                |   We have recently expanded our wings in sales and service of accounting software ‘Marg’, one of the leading accounting cum inventory management software in India, as its authorized distribution partner. The opportunity to work with Marg reinforces our strategic fit as no business can run efficiently unless its backbone is strong and for any business, accounts and finance are the pillars. Marg and Numerio Advisors run parallel to help the businesses attain this efficiency.




    .white-text(style='background: linear-gradient(135deg,#8f53d7,#1e83ef);')
        .row(style='padding-bottom: 90px; padding-top:30px;')
            h4.center.strong.white-text.mont(style='font-weight: 900;font-size: 45px;')
                br
                |  Get Relaxed!!
            p.center.mont(style='font-size: 1.25em;') Empowering people to make smart financial decisions.
            .container(style='padding: 0%')
                .col.s12.m6
                    .card.white.z-depth-5.medium.hoverable
                        .card-content.black-text
                            .center
                                img(src="/images/vision.png", alt="", width='70')
                            br
                            span.card-title.center.abril.truncate(style='padding: 5%;font-size: 50px') Vision
                            .container
                                p(style="text-align:justify")
                                    |   To be flag bearer in financial advisory 
                                    |   where our clients bank on our work ethics.
                                    br
                                    |   We aspire to achieve long term sustainable growth 
                                    |   through prosperity of our       clients and employees.
                .col.s12.m6
                    .card.white.z-depth-5.medium.hoverable
                        .card-content.black-text
                            .center
                                img(src="/images/mission.png", alt="", width='70')
                            span.card-title.center.abril.truncate(style='padding: 5%;font-size: 50px') Mission
                            .container
                                p(style="text-align:justify")
                                    |   We strive to be acknowledged as leader and preferred partner
                                    | in helping our clients succeed in this dynamic business environment.
                                    |   To attain our mission we run
                                    | To run our business with integrity and openness, delivering optimum results with clearly defined business principles.
                        


    .white.center
        img(src="/images/homemain.png", alt="", width='50%')
        br
        a.waves-effect.waves-light.btn(style='background:linear-gradient(270deg, #6969ff, blue);border-radius:20px;letter-spacing:3px;margin:30px') Join Us

block scripts
