extends components/layout.pug

block styles

block content
    section(style='margin-top:50px')
        
        .row
            h4.center.mont
                |   lol
            .container
                
                .col.s12.m6.center
                    img(src="/images/blog1.jpg", alt="", width='300')
                .col.s12.m6
                    p.left.mont
                        |   Recently, UP government declared loan waiver of Rs. 36,000 Crore which was
                        |   followed by Madras High Court asking TN government to do the same and such
                        |   decisions creating further pressure on government of Maharashtra and Punjab. It is
                        |   estimated that farmers of Punjab is indebted by around Rs. 80,000 Crores and
                        |   currently 20% of state government’s revenue is going towards repayments of loan
                        |   and this wavier will only pressurize the government treasury so is the case with
                        |   Maharashtra government which has a current debt level of Rs. 3.50 Lakh Crores. But
                        |   can this loan waiver be the ultimate solution?
                        |   Elections and Oppositions always want loan waivers for farmers. How many farmers
                        |   really need loan waiver is different thing. There is a very famous dialogue in movie
                        |   Sarkar where Mr. Amitabh Bacchan say’s “Nazdiki Fayda Dekhne Se Pehle Door Ka
                        |   Nuksaan Sochna Chahiye”. It can’t apply to any situation better than this.
                        |   Let’s look that what happened in previous loan waivers. The Parliamentary Public
                        |   Accounts Committee has found out that in the case of Rs. 52,000 crore debt waiver
                        |   schemes announced in 2008, there were serious concerns over its implementation.
                        |   In a sample of 90,576 beneficiaries spread across 25 states out of the intended 3.69
                        |   crore beneficiaries, discrepancies were found in 22% of the cases, acts of omission
                        |   and commission were observed in paying money to those who were ineligible
                        |   (persons who had taken personal loan, vehicle loan or gold loan were also
                        |   reimbursed), depriving those who were eligible, overpaying some beneficiaries and
                        |   paying less than what was due to others. Also, loan waiver scheme of 1990 has
                        |   reportedly crippled rural credit structure to such an extent that it took decades to
                        |   recover from its impact.
                        |   Now, we also need to understand both short term and long term implications of such
                        |   schemes. The implications of such schemes are delay in payment of salaries of its
                        |   employees, reduction in planned revenue expenses, halting of long term
                        |   Infrastructure and Development projects with government unable to make capital
                        |   expenditure. This ultimately hits fund flow in system and growth in the economy. It
                        |   also hurts the credit discipline in the society by penalising sincere and law abiding
                        |   farmer and which can be the start of vicious circle. It not just penalizes them but the
                        |   small and marginal farmers who are more dependent on non-institutional sources of
                        |   loan such as the local moneylender. The interest on these loans is higher but these
                        |   are excluded from any loan waiver scheme.
                        |   Also, the agricultural loans in India are really cheap and the rates can be as low as
                        |   4%. Almost every individual who owns an agricultural land takes a KCC loan before
                        |   the season begins. The loans are given based on ownership of land whether they
                        |   really need it or not is all together a different question. The individuals who take
                        |   loans many a time are not farmers but the ones who are in employment or in
                        |   business and have rented out there agricultural land. The end use of such loan is
                        |   definitely not agriculture. Also, both print media and electronic media cover farmer
                        |   suicides a lot but how many times they report that a particular farmer was an
                        |   alcoholic. They never do. I sincerely believe structure of Agriculture Advancing
                        |   needs to be altered.
                        |   Loan waiver can only be a short term solution which will defer the problem at hand
                        |   as it has its own ill effects. Somebody has to bear the burns of loan waiver, who is
                        |   none-other than honest citizen who faces it either as increased borrowing cost, or

                        |   higher taxes or through inflation. Now, it’s high time pro-poor politics are shed and
                        |   government comes out with real solutions be it through better irrigation facilities,
                        |   protected farming practices, literacy or technology up gradation in farm practices,
                        |   better procurement policies and post-harvest management. It should invest heavily
                        |   on in agriculture and support sectors with long term vision and should also learn from
                        |   errors made earlier while implementing wavier program to achieve best out of this.
                        



block scripts
