extends components/layout.pug

block styles

block content
    section(style='margin-top:50px')
        
        .row
            .container
                .col.s12.m6
                    
                    .card
                        .card-image
                            img(src='/images/bloglaw.png')
                            a.btn-floating.halfway-fab.waves-effect.waves-light
                                i.material-icons.red favorite
                        .card-content
                            h5.center
                                | Maharashtra Industrial Policy 2019
                                br
                            .col.s12.center                                                            
                                a.waves-effect.waves-light.btn.modal-trigger(href='#modal1',style='background:#42a5f5;border-radius:64px') Read More
                .col.s12.m4

                    .card
                        .card-image
                            img(src='/images/blog1.png')
                            a.btn-floating.halfway-fab.waves-effect.waves-light
                                i.material-icons.red favorite
                        .card-content
                            h5.center(style="margin:20px")
                                | Heading Two

                            .col.s12.center                                                            
                                a.waves-effect.waves-light.btn.modal-trigger(href='#modal2',style='background:#42a5f5;border-radius:64px') Read More

                .col.s12.m4



    section#modals
        .modal#modal1
            .modal-content
                .container
                    h4.center.mont.black-text
                        |   lol
                    p.center.mont.black-text
                        |   Recently, UP government declared loan waiver of Rs. 36,000 Crore which was followed by Madras High Court asking TN government to do the same and such decisions creating further pressure on government of Maharashtra and Punjab. It is estimated that farmers of Punjab is indebted by around Rs. 80,000 Crores and currently 20% of state government’s revenue is going towards repayments of loan and this wavier will only pressurize the government treasury so is the case with Maharashtra government which has a current debt level of Rs. 3.50 Lakh Crores. But can this loan waiver be the ultimate solution? Elections and Oppositions always want loan waivers for farmers. How many farmers really need loan waiver is different thing. There is a very famous dialogue in movie Sarkar where Mr. Amitabh Bacchan say’s “Nazdiki Fayda Dekhne Se Pehle Door Ka Nuksaan Sochna Chahiye”. It can’t apply to any situation better than this. Let’s look that what happened in previous loan waivers. The Parliamentary Public Accounts Committee has found out that in the case of Rs. 52,000 crore debt waiver schemes announced in 2008, there were serious concerns over its implementation.
                
                

        .modal#modal2
            .modal-content
                .container
                    h4.center.mont.black-text
                        |   lol2
                    p.center.mont.black-text
                   
                        |   I sincerely believe structure of Agriculture Advancing needs to be altered. Loan waiver can only be a short term solution which will defer the problem at hand as it has its own ill effects. Somebody has to bear the burns of loan waiver, who is none-other than honest citizen who faces it either as increased borrowing cost, or higher taxes or through inflation. Now, it’s high time pro-poor politics are shed and government comes out with real solutions be it through better irrigation facilities, protected farming practices, literacy or technology up gradation in farm practices, better procurement policies and post-harvest management. It should invest heavily on in agriculture and support sectors with long term vision and should also learn from errors made earlier while implementing wavier program to achieve best out of this.

                        



block scripts
