extends components/layout.pug

block styles

block content
    section(style='margin-top:50px')
        
        .row
            .container
                .col.s12.m6
                    
                    .card
                        .card-image
                            img(src='/images/blog1.png')
                            a.btn-floating.halfway-fab.waves-effect.waves-light
                                i.material-icons.red favorite
                        .card-content
                            h5.center(style="margin:20px")
                                | Maharashtra Industrial Policy 2019
                                br
                            .col.s12.center                                                            
                                a.waves-effect.waves-light.btn.modal-trigger(href='#modal1',style='background:#42a5f5;border-radius:64px') Read More
                .col.s12.m6

                    .card
                        .card-image
                            img(src='/images/blog1.png')
                            a.btn-floating.halfway-fab.waves-effect.waves-light
                                i.material-icons.red favorite
                        .card-content
                            h5.center(style="margin:20px")
                                | Heading Two

                            .col.s12.center                                                            
                                a.waves-effect.waves-light.btn.modal-trigger(href='#modal2',style='background:#42a5f5;border-radius:64px') Read More

                



    
            

    section#modals
        .modal#modal1
            .modal-content
                .container
                    h4.center.mont.black-text
                        |   Maharashtra Industrial Policy 2019
                    p.center.mont.black-text(style="text-align:justify")
                        |   Recently, UP government declared loan waiver of Rs. 36,000 Crore which was
                        |    followed by Madras High Court asking TN government to do the same and such
                        |    decisions creating further pressure on government of Maharashtra and Punjab. It is
                        |    estimated that farmers of Punjab is indebted by around Rs. 80,000 Crores and
                        |    currently 20% of state government’s revenue is going towards repayments of loan
                        |    and this wavier will only pressurize the government treasury so is the case with
                        |    Maharashtra government which has a current debt level of Rs. 3.50 Lakh Crores. But
                        |    can this loan waiver be the ultimate solution?
                        |    Elections and Oppositions always want loan waivers for farmers. How many farmers
                        |    really need loan waiver is different thing. There is a very famous dialogue in movie
                        |    Sarkar where Mr. Amitabh Bacchan say’s “Nazdiki Fayda Dekhne Se Pehle Door Ka
                        |    Nuksaan Sochna Chahiye”. It can’t apply to any situation better than this.
                        |    Let’s look that what happened in previous loan waivers. The Parliamentary Public
                        |    Accounts Committee has found out that in the case of Rs. 52,000 crore debt waiver
                        |    schemes announced in 2008, there were serious concerns over its implementation.
                        |    In a sample of 90,576 beneficiaries spread across 25 states out of the intended 3.69
                        |    crore beneficiaries, discrepancies were found in 22% of the cases, acts of omission
                        |    and commission were observed in paying money to those who were ineligible
                        |    (persons who had taken personal loan, vehicle loan or gold loan were also
                        |    reimbursed), depriving those who were eligible, overpaying some beneficiaries and
                        |    paying less than what was due to others. Also, loan waiver scheme of 1990 has
                        |    reportedly crippled rural credit structure to such an extent that it took decades to
                        |    recover from its impact.
                        |   Now, we also need to understand both short term and long term implications of such
                        |    schemes. The implications of such schemes are delay in payment of salaries of its
                        |    employees, reduction in planned revenue expenses, halting of long term
                        |    Infrastructure and Development projects with government unable to make capital
                        |    expenditure. This ultimately hits fund flow in system and growth in the economy. It
                        |    also hurts the credit discipline in the society by penalising sincere and law abiding
                        |    farmer and which can be the start of vicious circle. It not just penalizes them but the
                        |    small and marginal farmers who are more dependent on non-institutional sources of
                        |    loan such as the local moneylender. The interest on these loans is higher but these
                        |    are excluded from any loan waiver scheme.
                        |    Also, the agricultural loans in India are really cheap and the rates can be as low as
                        |    4%. Almost every individual who owns an agricultural land takes a KCC loan before
                        |    the season begins. The loans are given based on ownership of land whether they
                        |    really need it or not is all together a different question. The individuals who take
                        |    loans many a time are not farmers but the ones who are in employment or in
                        |    business and have rented out there agricultural land. The end use of such loan is
                        |    definitely not agriculture. Also, both print media and electronic media cover farmer
                        |    suicides a lot but how many times they report that a particular farmer was an
                        |    alcoholic. They never do. I sincerely believe structure of Agriculture Advancing
                        |    needs to be altered.
                        |    Loan waiver can only be a short term solution which will defer the problem at hand
                        |    as it has its own ill effects. Somebody has to bear the burns of loan waiver, who is
                        |    none-other than honest citizen who faces it either as increased borrowing cost, or

                        |    higher taxes or through inflation. Now, it’s high time pro-poor politics are shed and
                        |    government comes out with real solutions be it through better irrigation facilities,
                        |    protected farming practices, literacy or technology up gradation in farm practices,
                        |    better procurement policies and post-harvest management. It should invest heavily
                        |    on in agriculture and support sectors with long term vision and should also learn from
                        |    errors made earlier while implementing wavier program to achieve best out of this.
                
                

        .modal#modal2
            .modal-content
                .container
                    h4.center.mont.black-text
                        |   lol2
                    p.center.mont.black-text(style="text-align:justify")
                   
                        |   The Central Government has now taken several initiatives to attain the objective of “Housing
                        |for All by 2022” which includes passing of The Real Estate (Regulation and Development)
                        |Act 2016, demonetization of currency and running subsidy schemes like Credit Linked
                        |Subsidy Scheme for Lower and Middle Income Groups. The impact of the same is loosening
                        |up of the Real Estate market which has always been a bubble.
                        |Now, the million dollar question; Is this the right time to purchase house property or should
                        |we wait further? My answer to it is “Yes, it’s the time to take a Buy Call”. The property rates
                        |in both Tier I &amp; Tier II cities have gone back to levels of 2013, the interest rates on home
                        |loans have almost bottomed, and inventory of both ready for possession and under
                        |construction is in abundance and lastly builders and developers have been facing serious
                        |liquidity issues. Let’s look at various factors which led to this call.
                        | Financial Position of Builders
                        |The builder and developers have been bleeding for some time now and the asset
                        |class has remained in real stress. Either they have made huge investments in lands
                        |or have entered into time bound joint venture agreements with the land owners; the
                        |same has indirectly created a compulsion on them to get the construction work going
                        |even when there was no movement in inventory. As the customer advances have
                        |been really low, most of the investments in these projects have been through high
                        |cost debt. Now with enquiries, walk-ins and ultimately sales drying up, the result is no
                        |or very low movement in inventory and the builders are now under serious pressure
                        |to dispose of the inventory to generate cash and to repay their debts.
                        |The unhealthy position of builders has for a change created a situation where the
                        |customer can enjoy bargaining power during price negotiation if he can make that
                        |tempting payment offers. However at the same time he should make proper due
                        |diligence while purchasing Under Construction Property as delayed possession can
                        |also back fire.
                        | Low Rate of Interest
                        |The rate of interest on home loan has almost bottomed. With most of banks are
                        |offering loans at rate of around 8.70% to 9.30% where rates are variable and at fixed
                        |rate of 9.10% to 9.45%. I believe opting for a fixed ROI home loan may not be a bad
                        |idea considering the market volatility in long run.
                        | Subsidy Schemes like Pradhan Mantri Awas Yojana (CLSS-MIG)
                        |On eve of New Year, PM came up with front end interest subsidy scheme, probably
                        | for the first time something has been done for the middle class population. A buyer
                        |taking a home loan under this scheme will be able to reduce its EMI by atleast Rs.
                        |2,000 for the tenor of loan. This sum may not sound big but for a middle class
                        |person, his EMI can go down by 7.5% and if he can invest that sum in a medium risk
                        |profiled SIP; he will be able to create a tax free fund which will be equivalent to the
                        |home loan raised.
                        | Passing of RERDA Act 2016

                        |Lastly, The Real Estate (Regulation and Development) Act 2016, though this is still a
                        |work in progress as many states have still not adopted it but this is something which
                        |has been enacted with sole objective of customer protection and cleaning the sector
                        |which is really dirty. It will definitely bring transparency and will protect customers
                        |from the builders and developers who were selling their property without adequate
                        |legal title or who had this habit of delaying possessions to enjoy credits.
                        |Thus considering above factors, I believe the sector has bottomed enough and incentives for
                        |purchasing are sufficient to take this Buy Call. And also the way government is pushing its
                        |Infrastructure and Development projects with objective of creating Smart Cities in turn a
                        |Smart India, we may see the Real Estate pricing going up sooner than later.

                        



block scripts
