extends components/layout.pug

block styles

block content
    section
        br
        br
        brt
        h5.black-text.mont.center(style='margin:30px')
            |   Why Numerio ?
        .container    
            p.center.black-text.mont
                |   At Numerio, we focus on building your professional and personal abilities through a structured development program and a well-defined appraisal system. We conduct regular training sessions on various technical issues by inviting outside experts & Our appraisal systems are comprehensive and evaluate all aspects of professional and personal attributes.
                |   Numerio give you every opportunity to show your calibre. Starting your career here is the first step towards achieving everything you possibly can – both at work and in your personal life. Of course, the pace is fast and you´ll be doing challenging things. But the support is second to none too. 
                |   Our team is our biggest asset. We ensure that we provide them a platform where they can perform their best, grow, quickly and realize their true potential. 


    section
        h4.black-text.mont.center(style='margin-top:10vh; margin-bottom:7vh')
            |   Career Opportunities

        //- .row
            .container
                .col.s12.m4.center
                    img.hoverable.circle.responsive-img(src="/images/audit.png", alt="", width='170')
                    h5.center.mont
                        |    Accounts and 
                        br
                        |   Audit Executive

                .col.s12.m4.center
                    img.hoverable.circle.responsive-img(src="/images/sales.png", alt="", width='190')
                    h5.center.mont
                        |   Sales Executive

                .col.s12.m4.center
                    img.hoverable.circle.responsive-img(src="/images/support.png", alt="", width='180')
                    h5.center.mont
                        |   Technical Support Analyst

    section
        .container
            ul.collapsible
                li
                    .collapsible-header
                        img.circle.responsive-img(src="/images/audit.png", alt="",style='width:50px;height:50px')
                        p.left.valign-wrapper.mont(style='margin-left:40px')
                            |   Accounts and Audit Executive
                    .collapsible-body
                        .row
                            .col.s12.m4.center      
                                i.material-icons(style='color:#DECBA4;font-size:40px') location_on
                                p.center.mont
                                    |   Bhandara 
                            .col.s12.m4.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') book
                                p.center.mont
                                    |   BCOM/ BCA/ BBA/ MBA
                                    br  
                                    |    or those perusing

                            .col.s12.m4.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') person
                                p.center.mont
                                    |   Accounting, Auditing and Statutory Return Filing 

                        .row    
                            .col.s12.m5.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') school
                                p.center.mont
                                    |   Accounting in Tally and Marg software Filling of GST and Income Tax Returns Bank Audit and other Departmental Audits

                            .col.s12.m7.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') all_inclusive
                                p.center.mont
                                    |   Should have good knowledge of accounting
                                    br
                                    |	Should have background knowledge of Tally Accounting Software
                                    br
                                    |  	Should know MS Office Should have excellent communication skills and a good team player	
                                    br  
                                    |   Should be able to work under pressure, be enthusiastic to achieve targets 
                                    br
                                    |   Attention to details and discussion



                            

                li
                    .collapsible-header
                        img.circle.responsive-img(src="/images/sales.png", alt="",style='width:50px;height:50px')
                        p.center.valign-wrapper.mont(style='margin-left:40px')
                            |   Sales Executive

                    .collapsible-body
                        .row
                            .col.s12.m4.center      
                                i.material-icons(style='color:#DECBA4;font-size:40px') location_on
                                p.center.mont
                                    |   Nagpur and Bhandara 
                            .col.s12.m4.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') book
                                p.center.mont
                                    |   BCOM/ BCA/ BBA/ MBA
                                    br  
                                    |    or those perusing

                            .col.s12.m4.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') person
                                p.center.mont
                                    |  Sale and Support of Accounting Software

                        .row    
                            .col.s12.m5.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') school
                                p.center.mont
                                    |   	Identify new Customers and establish relationship with existing customers
                                    br
                                    |   	To communicate, negotiate and collect orders, Software Demonstration to potential customers, 
                                    br  
                                    |   To give Online & Offline Support to Customers
                            .col.s12.m7.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') all_inclusive
                                p.center.mont
                                    |   Should have good computer knowledge
                                    br
                                    |	Should have excellent communication skills and a good team player
                                    br
                                    |  	Should be able to work under pressure, be enthusiastic to achieve targets 
                                    br
                                    |   	Attention to details and discussion
                                    br
                                    |   	Social media management skills

                li
                    .collapsible-header
                        img.circle.responsive-img(src="/images/support.png", alt="",style='width:50px;height:50px')
                        p.center.valign-wrapper.mont(style='margin-left:40px')
                            |   Technical Support Analyst
                    .collapsible-body
                        .row
                            .col.s12.m4.center      
                                i.material-icons(style='color:#DECBA4;font-size:40px') location_on
                                p.center.mont
                                    |   Bhandara 
                            .col.s12.m4.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') book
                                p.center.mont
                                    |   Graduate/ Post Graduate
                                    br  
                                    |    or those perusing

                            .col.s12.m4.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') person
                                p.center.mont
                                    |   Front & Back Office Support for Accounting Software

                        .row    
                            .col.s12.m5.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') school
                                p.center.mont
                                    |   To give Back office Support to Customers
                                    br
                                    |	Software Demonstration to potential customers
                                    br
                                    |	Cold Calling to potential customers
                                    br
                                    |	Establish good relationship with existing customers

                            .col.s12.m7.center
                                i.material-icons(style='color:#DECBA4;font-size:40px') all_inclusive
                                p.center.mont
                                    |   Should have basic understanding of accounting and financial statement
                                    br
                                    |	Should have basic understanding of accounting and financial statement
                                    br
                                    |  	Should have good computer knowledge
                                    br
                                    |	Should have excellent communication skills and a good team player
                                    br
                                    |	Should be able to work under pressure, be enthusiastic to achieve targets 
                                    br
                                    |	Attention to details and discussion


            .center(style='margin:60px')
                .file-field.input-field
                    .btn.white.black-text.mont(style='border: 1px solid #decba4')
                        span Upload Resume
                        input(type='file')
                    .file-path-wrapper
                        input.file-path.validate(type='text')


                            




block scripts