extends components/layout.pug

block styles

block content
    .parallax-container(style='min-height:95vh')
        .parallax
            img#main-img.responsive-img(src='images/cont  act.png', alt='')
        
        .container
            img(src='images/logo.png', alt='', style='width: 120px;margin-top:80px')
            h2.mont Get In Touch
            p(style='min-height:100px;')
                | Where Trust is only constant
        
            a.waves-effect.waves-light.btn.hoverable(href='tel:+91 1234567890')(style='background: linear-gradient(to right, #3e5151, #decba4);')
                | CALL US

    
    section.container
        .row.white(style='padding:40px')
            
            .input-field.col.s6
                input#first_name.validate(type='text')
                label(for='first_name') First Name

            .input-field.col.s6
                input#first_name.validate(type='text')
                label(for='last_name') Last Name
            
            .input-field.col.s5
                input#first_name.validate(type='email')
                label(for='email') E-mail

            .input-field.col.s7
                textarea#textarea1.materialize-textarea
                label(for='textarea1') Message

        
        .center(style='margin:40px')
            a.waves-effect.waves-light.btn.hoverable(href='tel:+91 1234567890')(style='background:#decba4; width:200px')
                | Send
    section
        .row
            .col.s12.m6
                h4.center.mont.black-text
                    |   Nagpur
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3721.358591053763!2d79.07627541486353!3d21.13812308593929!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4c181e76e4a05%3A0xa578ccaeb691f971!2sNumerio+Advisors+Private+Limited!5e0!3m2!1sen!2sin!4v1553071162845', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')

            .col.s12.m6
                h4.center.mont.black-text
                    |   Bhandara
                iframe(src='https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3720.5708454576547!2d79.65924891503124!3d21.169470488335417!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a2b3f5aaaaaaaab%3A0x3d41b323d9f3862d!2sNumerio+Advisors+Private+Limited!5e0!3m2!1sen!2sin!4v1553838652735!5m2!1sen!2sin', width='100%', height='450', frameborder='0', style='border:0', allowfullscreen='')



block scripts