extends components/layout.pug

block styles

block content
    .parallax-container(style='min-height:95vh')
        .parallax
            img#main-img.responsive-img(src='images/back.png', alt='')
        
        .container
            img(src='images/logo.png', alt='', style='width: 120px;margin-top:80px')
            h2.mont Numerio Advisors
            p(style='min-height:100px;')
                | Where Trust is only constant
        
            a.waves-effect.waves-light.btn.hoverable(style='  background: linear-gradient(to right, #3e5151, #decba4);')
                | GET
                | STARTED

    
    section.container
        .row.center(style='padding:40px')
            img(src="/images/banner.png", alt="", width='100%')


    section
        .row
        
            .col.s12.m4.center
                img.circle.responsive-img(src="/images/gd.png", alt="",width="120",style='margin:20px')
                h6.center.black-text
                    | INCORPORATIONS & COMPANY LAW PRACTICES
                p.center.light
                    ul.mont(style='list-style-type:disc;')
                        li  Designing Optimum Company Structure
                        li  Incorporations of LLP & Companies
                        li  Statutory Compliances
            .col.s12.m4.center
                img.circle.responsive-img(src="/images/gd.png", alt="",width="120",style='margin:20px')
                h6.center.black-text
                    | STARTUP CONSULTANCY
                p.center
                    ul.mont
                        li  Incorporations of LLP & Companies
                        li  Statutory Compliances
                        li  Raising Funds Venture Capitalists
                        //- li  Preparing Teasers & Pitch Books
                        //- li  Preparing Financial Model

            .col.s12.m4.center
                img.circle.responsive-img(src="/images/gd.png", alt="",width="120",style='margin:20px')
                h6.center.black-text
                    | PROJECT CONSULTANCY
                p.center
                    ul.mont
                        li  Designing Optimum Company Structure
                        li  Raising Term Loan or Working Capital Funding
                        li  Preparation of Project Reports & Financial Model
                        //- li  TEV & LIE Study
                        //- li  Raising Equity or Strategic Partnerships
                        //- li  Valuations & Financial Due Diligences
                        //- li  Government Incentives
            
            .col.s12.m6.center
                img.circle.responsive-img(src="/images/gd.png", alt="",width="120",style='margin:20px')
                h6.center.black-text
                    | GST ADVISORY & COMPLIANCE
                p.center
                    ul.mont
                        li Create a Tax Efficient Business Structures
                        li Impact analysis & Price sensitivity on account of change in Tax Structure
                        li Designing the Existing Contracts
                        //- li Designing the Value Chain
                        //- li Filing of GST Returns


            .col.s12.m6.center
                img.circle.responsive-img(src="/images/gd.png", alt="",width="120",style='margin:20px')
                h6.center.black-text
                    | FINANCIAL & MANAGEMENT ACCOUNTING
                p.center
                    ul.mont
                        li Outsourcing Financial Accounting Activity
                        li Compiling Financial Statements
                        li Setting up Internal Control System
                        //- li Risk Advisory Services
    br
    br
block scripts