extends components/layout.pug

block styles

block content
    .parallax-container(style='min-height:95vh')
        .parallax.hide-on-small-only
            img#main-img.responsive-img(src='images/accounts.png', alt='')
        
        .container
            img(src='images/marg.png', alt='', style='width: 190px;margin-top:80px')
            h2.mont Marg ERP
            p(style='min-height:100px;')
                | The Business Backbone
        
            a.waves-effect.waves-light.btn.hoverable(href='https://www.margcompusoft.com/' style='background: linear-gradient(to right, #3e5151, #decba4);')
                | Visit official Marg ERP Site

    section.white-text(style='background:#625eeb')
        .center(style='margin:60px')
            h4.center.mont.margined-top-cozy.margined-bottom-cozy(style='text-transform:uppercase;')
                | About the Software
            .container
                p.center.mont(style='text-align:justify')
                    | Marg is a state-of-the-art inventory and accounting software offering specialised services for finance and management. It provides trade wise solutions for Retail, Distribution and Manufacturing. Marg is not restricted to accounting reports and is capable of generating many management reports which can be used effectively for making strategic growth and expansion decisions. It is one of the top 3 accounting software’s in India and hands down the most user friendly.

    section
        .center(style='margin:60px')
            h4.center.black-text.mont.margined-top-cozy(style='text-transform:uppercase')
                
                | Association
            .container
                p.center.black-text.mont.margined-bottom-cozy(style='text-align:justify')
                    |    Numerio Advisors Private Limited is authorized distribution partner of Marg ERP for Vidarbha       region and will provide migration and installation services along with after sale services. 
                    //- | Association with Marg- India’s Best Accounting cum Management Reporting ERP Numerio Advisors Private Limited is authorized distribution partner of Marg ERP for Vidarbha region and will provide migration and installation services along with after sale services.

    section.white-text(style='background:#5777F7')        
        .center
            h4.center.mont.margined-top-cozy(style='text-transform:uppercase')
                

                | Features
            .row.margined-bottom-cozy
            
                
                .col.s12.m6
                    img(src="/images/margf.png", alt="", width="380",style="margin:3%")
                    h5.center.mont(style='font-weight:800;font-size:35px')
                        | Marg ERP 9+
                    a.btn-floating.pulse.modal-trigger(style="background:#EFBF51",href="#modal1")
                        i.material-icons chrome_reader_mode
                    .modal#modal1
                        p.mont.black-text(style='line-height:40px;text-align:center')
                            br
                            
                            | User Friendly Billing System
                            br
                            | Point of Sale Provision
                            br
                            | Supply Chain Management
                            br
                            | Inventory Management
                            br
                            | Management Reporting & Analysis
                            br
                            | Order Management
                            br
                            | Compressive Regulatory Compliances Support
                            br
                            | Bar Code Management
                            br
                            | Challan Management
                            br
                            | Import & Export Features
                            br
                            | Data Backup Management

                


                .col.s12.m6
                    img.pulse(src="/images/ebusi.png", alt="", height="232",style="margin:3%")
                    h5.center.mont(style='font-weight:800;font-size:35px')
                        | E-Business Apps
                    a.btn-floating.pulse.modal-trigger(style="background:#EFBF51",href="#modal2")
                        i.material-icons chrome_reader_mode
                    .modal#modal2
                        .container
                            p.mont.black-text(style='line-height:30px;text-align:justify')
                                br

                                |   It’s a cloud based system integrated with Marg ERP 9+
                                br 
                                br
                                |   Specially designed by Retailers, Distributors, C&F’s & Retail Chains
                                br
                                br
                                |   Enables Retailers to place their orders online, track short supplies & get        stocks, rates, schemes & ledger balances
                                br
                                br
                                |   Facilitate Distributors to take Orders from Retail Customers using Android Mobile/ Tablet and automates Ordering Process
                                br
                                br
                                |   Focused on Sales, Collection & GPS Tracking of Staff 
                                br
                                br
                                


    section.white
        .center         
            h4.center.mont(style='text-transform:uppercase')
                br
                | Industry where Marg top's the Chart

            .container
                p.center.mont(style='line-height:30px')
                    br
                    |  Pharmacy & Chemist
                    br
                    |   Super Market, Departmental Stores and Retail Counters
                    br
                    |   Consumer Durable Goods
                    br
                    |  Apparels & Foot wares
                    br
                    |  Jewellery
                    br
                    |  Automobile & Spares
                    br
                    |   Restaurants & Bar
                                                           
    section(style=' background: linear-gradient(to bottom, #ffffff, #decba4);') 
        h4.black-text.mont(style='text-transform:uppercase;text-align:center;margin:30px')
            br
            | How Numerio Advisors Synergies with Marg ?
            //- | Concept 4C
        
        .row    
            .col.s12.m6 
                .card-panel.hoverable
                    h5.left.black-text.mont.strong 
                        |     Consolidation
                    br
                    br
                    p.center.black-text.mont(style="text-align:justify")
                        | Numerio is a one-stop shop for all the financial and business consultancy needs and we pride ourselves in extracting most optimally the features Marg as on offer
                        br  
            .col.s12.m6 
                .card-panel.hoverable
                    h5.left.black-text.mont.strong 
                        |     Convenience
                    br
                    br
                    p.center.black-text.mont(style="text-align:justify")
                        | Marg offers not only accounting reports to be read by domain experts but also industry and customer specific reports and Numerio ensures to make them strategically relevant to the business owners  

            .col.s12.m6 
                .card-panel.hoverable
                    h5.left.black-text.mont.strong 
                        |     Compliance
                    br
                    br
                    p.center.black-text.mont(style="text-align:justify")
                        | Numerio offers assistance in filing statutory returns and regulatory compliances including GST 
                        br
                        br
                    
            .col.s12.m6 
                .card-panel.hoverable
                    h5.left.black-text.mont.strong 
                        |    Consistence
                    br
                    br
                    p.center.black-text.mont(style="text-align:justify")
                        | Numerio consultants undergo training on Marg prior to on-boarding clients, hence rest assured a high quality service can be expected at all times                                 
                    br
                    

        .center
            a(href="/contact").btn.white.black-text.mont(style='border: 1px solid #decba4;margin:30px')           
                |   Request a Demo


block scripts