extends components/layout.pug

block styles

block content
    section
        .parallax-container(style='min-height:95vh')
            .parallax.hide-on-small-only
                img#main-img.responsive-img(src='images/services.png', alt='', style='min-width:100%')
            
            .container
                img(src='images/logo.png', alt='', style='width: 120px;margin-top:80px')
                h2.mont.truncate Services
                p(style='min-height:100px;')
                    | Numerio in Support

                .center.hide-on-med-and-up
                    img#main-img.responsive-img(src='images/servicescopy.png', alt='', style='min-width:100%')

    //- section.show-on-small-only(style='background-image=/images/services.png')
        .container
            img(src='images/logo.png', alt='', style='width: 120px;margin-top:80px')
            h2.mont.truncate Services
            p(style='min-height:100px;')
                | Numerio in Support

    section
        .white
            .row(style='margin:60px')
                .col.s12.m4.center
                    img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                    h5.strong.mont.center
                        |   Marg Accounting 
                        br
                        |   Software
                    p.center.mont
                        |   Inventory and Accounting Software
                        br
                        |  	Simple to use
                        br
                        |	Easy to implement
                        br
                        |	Flexible to Customize

                .col.s12.m4.center
                    img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                    h5.strong.mont.center
                        |   GST Advisory 
                        br
                        |   & Compilance
                    p.center.mont
                        |   Create a Tax Efficient Business Structures
                        br
                        |  	Impact analysis & Price sensitivity on account of change in Tax Structure
                        br
                        |	Designing the Existing Contracts
                        br
                        |	Designing the Value Chain
                        br
                        |  	Filing of GST Returns

                .col.s12.m4.center
                    img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                    h5.strong.mont.center
                        |   Financial & 
                        br  
                        |   Management Accounting
                    p.center.mont
                        |   Outsourcing Financial Accounting Activity
                        br
                        |  	Compiling Financial Statements
                        br
                        |	Setting up Internal Control System
                        br
                        |	Risk Advisory Services


            .row
                .col.s12.m4.center
                    img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                    h5.strong.mont.center
                        |   Incorporations & 
                        br  
                        |   Company Law Practices
                    p.center.mont
                        |   IDesigning Optimum Company Structure
                        br
                        | 	Incorporations of LLP & Companies
                        br
                        |		Statutory Compliances
                        

                .col.s12.m4.center
                    img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                    h5.strong.mont.center
                        | Start-up
                        br
                        | Consultancy
                    p.center.mont
                        |   Incorporations of LLP & Companies
                        br
                        |  	Statutory Compliances
                        br
                        |	Raising Funds through Angle Investors or Venture Capitalists
                        br
                        |	Preparing Teasers & Pitch Books
                        br
                        |  	Preparing Financial Model & Information Memorandum

                .col.s12.m4.center
                    img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                    h5.strong.mont.center
                        |   Project 
                        br  
                        |   Consultancy
                    p.center.mont
                        |   	Designing Optimum Company Structure
                        br
                        |  	Raising Term Loan or Working Capital Funding
                        br
                        |	Preparation of Project Reports & Financial Model
                        br
                        |	Flexible to Customize

block scripts