extends components/layout.pug

block styles

block content
    section(style='height:80vh')
        .row(style='min-height: 60vh;')
            div(style='margin-top: 80px;')
                .col.s12.m4
                    .container
                        i.fas.fa-users(style='color: #00d09c;font-size: 50px')
                        h2.light
                            | Services on Platter
                        
                        br
                        a.waves-effect.waves-light.btn.hoverable(style='background: linear-gradient(135deg,#8f53d7,#1e83ef);border-radius:30px')
                            | VIEW SERVICES
                .col.s12.m8.center
                    img(src='images/641.png', alt='', width='600', style='margin-top: 10px;max-width: 80%')


    section(style='background:#625eeb')
        .center
            img(src="/images/whitelogo.png", alt="", width='60%',style="margin-top:30px")
        .row.white-text(style='margin:50px')
            .col.s12.m4.center

                .card.flexi-card.medium.hoverable.z-depth-5
                    .card-image
                        img(src='images/red.png', width='600')
                        span.card-title 
                            h5.strong.mont.center
                                |   Marg Accounting 
                                br
                                |   Software

                    .card-content
                        p.center.mont.black-text
                            |   Inventory and Accounting Software
                            br
                            |  	Simple to use
                            br
                            |	Easy to implement
                            br
                            |	Flexible to Customize
                
                
                //- img.circle.responsive-img(src="/images/accsoft.jpg", alt="", width='200')
                

            .col.s12.m4.center
                .card.flexi-card.medium.hoverable.z-depth-5
                    .card-image
                        img(src='images/dblue.png', width='600')
                        span.card-title 
                            h5.strong.mont.center
                                |   Project Loans &
                                br  
                                |   Subsidy Consultancy

                    .card-content
                        p.center.mont.black-text
                            |   Preparation of Project Reports & Financial Model
                            br
                            |  	Raising Term Loan or Working Capital Funding
                            br
                            |	Raising Equity or Strategic Partnerships
                            br
                            |	Valuations & Financial Due Diligences
                            br
                            |   Liaisoning for various Central & State Government Incentives




            .col.s12.m4.center  
                .card.flexi-card.medium.hoverable.z-depth-5
                    .card-image
                        img(src='images/blue.png', width='600')
                        span.card-title 
                            h5.strong.mont.center
                                |   GST Advisory 
                                br
                                |   & Compilance

                    .card-content
                        p.center.mont.black-text
                            |   Create a Tax Efficient Business Structures
                            br
                            |  	Impact analysis & Price sensitivity on account of change in Tax Structure
                            br
                            |	Re-Designing the Existing Contracts
                            br
                            |	Filing of GST Returns
                            
  
            .col.s12.m4.center
                .card.flexi-card.medium.hoverable.z-depth-5
                    .card-image
                        img(src='images/pink.png', width='600')
                        span.card-title 
                            h5.strong.mont.center
                                |   Financial & 
                                br  
                                |   Management Accounting

                    .card-content
                        p.center.mont.black-text
                            |   Outsourcing Financial Accounting Activity
                            br
                            |  	Compiling Financial Statements
                            br
                            |	Setting up Internal Control System
                            br
                            |	Risk Advisory Services



            .col.s12.m4.center
                .card.flexi-card.medium.hoverable.z-depth-5
                    .card-image
                        img(src='images/green.png', width='600')
                        span.card-title 
                            h5.strong.mont.center
                                |   Incorporations & 
                                br  
                                |   Company Law Practices

                    .card-content
                        p.center.mont.black-text
                            |    Designing Optimum Company Structure
                            br
                            | 	Incorporations of LLP & Companies
                            br
                            |		Statutory Compliances

            .col.s12.m4.center
                .card.flexi-card.medium.hoverable.z-depth-5
                    .card-image
                        img(src='images/orange.png', width='600')
                        span.card-title 
                            h5.strong.mont.center
                                | Start-up
                                br
                                | Consultancy

                    .card-content
                        p.center.mont.black-text
                            |   Advisory on Business Model
                            br
                            |  	Preparing Teasers & Pitch Books
                            br
                            |	Preparing Financial Model
                            br
                            |	Raising Funds through Angle Investors or Venture Capitalists


    section.white
        .center
            img(src="/images/homemain.png", alt="", width='30%')
            br
            a.waves-effect.waves-light.btn.hoverable(style='background: linear-gradient(135deg,#8f53d7,#1e83ef);border-radius:30px;margin:20px')
                            | BOOK APPOINTMENT
        

                            
            
                    


block scripts