extends components/layout.pug

block styles

block content
    section
        .parallax-container(style='min-height:95vh')
            .parallax
                img#main-img.responsive-img(src='images/testimonials.png', alt='', width='30')
            
            .container
                img(src='images/homemain.png', alt='', style='width: 240px;margin-top:80px')
                h2.mont.truncate Testimonials
                


    section(style=' background: linear-gradient(to top, #ffffff, #decba4);margin:0;padding:0') 
        h3.center.mont.white-text(style='padding:50px')
            |   Footprints left behind...

        .row(style="margin:70px")
            .container
                .col.s12.m3.center
                    img.circle.responsive-img(src="/images/gunjan.jpg", alt="")
                .col.s12.m9.center
                    p.mont.valign-wrapper(style='text-align:justify')
                        |   I would highly recommend Numerio Advisors; they have gone above and beyond the successful implementation of Marg Software in our store. In last 6 months they have helped us a lot in training our staff and migration from previous software and currently we use most of the features that the software provides. The best part about Team Numerio Advisors is that they are very easily reachable and provide prompt service. 
                        br
                        br
                    h6.center.mont
                        |   (Mr. Gunjan Kuranjekar, Balkrishna Medical)  

        .container
            .divider.black(style='height:2px;') 

        .row(style='margin:70px')
            .container
                .col.s12.m9.center
                    p.mont.valign-wrapper(style='text-align:justify')
                        |   I am undergoing a phenomenal experience and exposure through Numerio Advisors. They have provided us excellent services during our debt raising exercises and managing our government subsidies. The team is proactive and closes every submission deadline well within the time. 
                        br
                        br
                    h6.center.mont
                        |   (Mr. Rajesh Ghanmare,  M/s Mauli Rice Mill)

                .col.s12.m3.center
                    img.circle.responsive-img(src="/images/rajesh.jpg", alt="")


        .container
            .divider.black(style='height:2px;')


        .row(style='margin:70px')
            .container
                .col.s12.m3.center
                    img.circle.responsive-img(src="/images/chaitanya.jpg", alt="")
                .col.s12.m9.center
                    p.mont.valign-wrapper(style='text-align:justify')
                        |   In the market scenario where every other financial consultant looks to raise as much debt as possible for his client; Numerio ensures that you rise only that much funds which optimizes your capital structure. Highly recommend their service to implement financial discipline in one’s business.
                        br
                        br
                    h6.center.mont
                        |    (Mr. Chaitnaya Sarda, M/s Shree Traders)


        .container
            .divider.black(style='height:2px;')

        
        .row(style='margin:70px')
            .container
                .col.s12.m9.center
                    p.mont.valign-wrapper(style='text-align:justify')
                        |   Numerio Advisors is a great team of enthusiastic professionals. Working with them we realized that book keeping and statutory filings are as important as running your business. They have implemented Marg Accounting Software in our store in best possible manner and something, which was a pain point of our business, like a child’s play. Very Satisfied with their service.
                        br
                        br
                    h6.center.mont
                        |    (Mr. Ram Shendre, Proprietor- Shriram Trading) 
                .col.s12.m3.center
                    img.circle.responsive-img(src="/images/ram.jpg", alt="")


        .container
            .divider.black(style='height:2px;')

        
        .row(style='margin:70px')
            .container
                .col.s12.m3.center
                    img.circle.responsive-img(src="/images/face.png", alt="")
                .col.s12.m9.center
                    p.mont.valign-wrapper(style='text-align:justify')
                        |   It gives us great pleasure to inform you that, we have been fruitfully associated with you from the last 6 months. At the outset, we confirm that we are really happy & satisfied with the services provided by you and your team. The responses to our query have always been well in time. Your suggestions & guidance are worth following. We anticipate similar responses in future for a win-win situation for both of us. Wishing you all the best for all your future endeavors.
                        br
                        br
                    h6.center.mont
                        |    (Mr. Shailendra Sharma, Sharma Medical Stores)

        .container
            .divider.black(style='height:2px;')

            
        .row(style='margin:70px')
            .container
                .col.s12.m9.center
                    p.mont.valign-wrapper(style='text-align:justify')
                        |   Numerio Advisors has exhibited the professionalism and customer service expected from Financial Consultant. Also, I can count on them to help me with my Business venture related quires. I have found them to be extremely knowledgeable. Numerio has consistently exceeded my expectations and needs and I am grateful for their attention to details. 
                        br
                        br
                    h6.center.mont
                        |    (Mr. Ajit Aswale, Aswale Infraventures)
                .col.s12.m3.center
                    img.circle.responsive-img(src="/images/ajit.jpg", alt="")






block scripts