.rale {
    font-family: 'Raleway', sans-serif;
}

.mont {
    font-family: 'Montserrat', sans-serif;
}

.markazi {
    font-family: 'Markazi Text', serif;
}

.ubuntu {
    font-family: 'Ubuntu', sans-serif;
}

.opensans {
    font-family: 'Open Sans', sans-serif;
}

.abril {
    font-family: 'Abril Fatface', cursive;
}

/* 
[data-aos="upparwala"] nav {
    background: transparent;
    transition: background 0.4s linear;

}

[data-aos="upparwala"].aos-animate nav {
    background: #21cce7; */

/* } */

